/*Use width for full page div*/
divToanTrang {
    position:relative;
    font-family:'Segoe UI';
    font-weight:bold;
}
/*Design registration and login link*/
.DangKyDangNhap {
    float:right;
    margin-top:-1%;
}
.DangKyDangNhap a:hover {
    text-decoration:none;
    color:green;
}
/*CSS for div DanhMuc*/
#divDanhMuc {
    height:30px;
}
/*CSS for menu header*/
.navMenu {
    float:right;
    margin-right:10%;
}
/*CSS for menu changes color slowly*/
.navMenu li{
    display:inline;
    border-right:solid 1px rgba(0,0,0,.1);
    padding:20px;
    padding-top:19px;
    padding-bottom:22px;
    -webkit-transition:all .5s ease-out;
}
/*Slow color change*/
.navMenu li:hover{
    background-color:rgba(0,0,0,.5);
    -webkit-transition:all .5s ease-out;
}
.navMenu a:hover {
    text-decoration:none;
}
/*Css div timkiem*/

#txtTimKiem {
    float:left;
    margin-left:5%;
}
#txtTimKiem input {
    height:0px;
}
/*Css image button for search image*/
#divHinhAnhTimKiem button {
    margin-right:-50px;
    padding:0 1px 0 1px;
    background-color:#14a19a;
}
#divHinhAnhTimKiem button:hover {
   background-color:rgba(0,0,0,.5);
}
#divHinhAnhTimKiem img {
    width:30px;
    height:30px;
}

#slider {
    float:right;
    width:900px;
    height:360px;
}
#slider img {
    width:900px;
    height:300px;
}
#divMenuLeft {
    float:left;
}
#divLeft {
    width:30%;
    float:left;
}
#divLeft .item {
    width:100%;
}
#divRight {
    width:70%;
    float:right;
}
.icDienThoai {
    float: left;
    margin-top: 1%;
}