
@{
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
    ViewBag.Title = "Index";
}
@section NoidungBenPhai{
    <div>adifhakdhjadhkjhfdhahWelcome to FPTBook Welcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBookWelcome to FPTBook
</div>
}



