@using WebSiteBanSach4.Models;
@model List<ChuDe>

@foreach (var item in Model)
{
    <a href="#" class="button button-submit">@item.TenChuDe</a>
}

<a href="#" class="button button-submit">Other topics...</a>

@*<a href="#" class="button">History book</a>

<a href="#" class="button button-submit">Teachnology book</a>
<a href="#" class="button">Love book</a>

<a href="#" class="button button-submit">Humanities book</a>
<a href="#" class="button">Social book</a>
<a href="#" class="button">Novel book</a>*@