@using WebSiteBanSach4.Models;

@model List<NhaXuatBan>
<h1 id="ChuDeNXB">Publisher</h1>

@foreach (var item in Model)
{ 
    <div class="itemNXB"><i class="fa fa-book"></i> <a href="@Url.Action("BookPublisher", new { @MaNXB=item.MaNXB})">@item.TenNXB</a></div>
}
<div class="itemNXB"><i class="fa fa-book"></i><a href="@Url.Action("ThemePublisher")">Other Publishers...</a></div>

<style>
    #ChuDeNXB {
        padding:15px 0 15px 15px;
        color:white;
        width: 235px;
        background-color:#808080;
    }
    .itemNXB {
        font-weight:normal;
    }
</style>
@*<h1>Publisher</h1>
    <div><a href="#">Kim Dong</a></div>
    <div><a href="#">Quoc gia</a></div>
    <div><a href="#">Tu Phap</a></div>
    <div><a href="#">Thanh Nien</a></div>
    <span class="price">£49.99</span>
    <a href="#" class="button button-buy">Get it now</a>*@
